## Personal config variables
config.json

## Stdout service last line read
src/services/stdoutService/lastLineRead

## Dummy for server log for development
dummystdout.txt

## NPM modules
node_modules/

## Idea project files
.idea/